.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    background-color: var(--primary-color);
    color: ;

}
