.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--default-layout-width);
    margin-top: var ;
    display: flex;
}

.content {
    flex: 1;
}
