.wrapper {
    // using global tokens from :root
    padding: 0 var(--default-layout-horizontal-spacer) 0 20px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px var(--color-elevation-shadow-light-mode);
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: var(--color-bg);
}


.search {
    width: var(--search-width);
    height: var(--search-height);
    background: var(--color-surface-muted-strong);
    border-radius: var(--search-border-radius);
    display: flex;

    font-family: var(--font-framily);
    border: 1.5px solid transparent;
    position: relative;

    input {
        color: var(--color-text);
        font-size: 1.6rem;
        flex: 1;
        padding-left: 40px !important;
        border: none;
        outline: none;
        margin-left: 20px;
        caret-color: var(--color-caret);
        background-color: transparent;
    }

    input:not(:placeholder-shown)~.search-btn {
        color: var(--color-text-secondary);
    }

    &:focus-within {
        border-color: var(--color-border);
    }

    &:hover {
        border-color: var(--color-border);
        cursor: pointer;

        .search-btn {
            color: var(--color-text-secondary);
            background-color: var(--color-surface-muted);
        }
    }
}

/* Remove left padding when there is no search button */
.search.no-button {
    input {
        padding-left: 0 !important;
        margin-left: 12px;
    }

    .clear-btn,
    .loading-icon {
        right: 12px;
        /* since there's no button, anchor to container edge */
    }
}

.clear-btn,
.loading-icon {
    position: absolute;
    right: calc(var(--search-button-width) - 40px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-quaternary);
}

.loading-icon {
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: 40px;
    // font-size: 1.6rem;
    font-size: 1.9rem;
    padding: 11px 16px 11px 12px;
    border-top-left-radius: var(--search-border-radius);
    border-bottom-left-radius: var(--search-border-radius);
    height: 100%;
    color: var(--color-text-quaternary);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: var(--color-surface-muted);
        color: var(--color-link);
        cursor: pointer;
    }

    &:hover {
        background-color: var(--color-surface-muted-strong);
    }

}

.search,
.search-result {
    width: var(--search-width);
}

.search-result {
    padding-top: 20px;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 540;
    color: var(--color-text-tertiary);
}