.wrapper {
    width: 240px;
    border-right: 0.5px solid rgba(22, 24, 35, 0.12);
    overflow: hidden auto;
    padding: 20px 0px 26px 8px;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 61px;
    bottom: 0px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 99;
    border-left: none;
}


.icon-flex {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    height: 32px;
    background: center center / cover no-repeat;
    border-radius: 50%;
    cursor: pointer;
}